:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  background-color: rgb(255, 252, 252);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.text-black{
  color: black;
}

.task-div{
 border: 1px solid black;
 width: 400px;
 margin-bottom: 10px;
 margin-left: 10px;
 padding:30px;
 border-radius: 3px;
}

.d-flex{
  display: flex;
}